<div class="container">
  <h1>New game</h1>

  <% 10.times do %>
    <% @letters << ('A'..'Z').to_a[rand(26)] %>
  <% end %>

  <div class="flex">
    <div class="letter"><%= @letters[0] %></div>
    <div class="letter"><%= @letters[1] %></div>
    <div class="letter"><%= @letters[2] %></div>
    <div class="letter"><%= @letters[3] %></div>
    <div class="letter"><%= @letters[4] %></div>
    <div class="letter"><%= @letters[5] %></div>
    <div class="letter"><%= @letters[6] %></div>
    <div class="letter"><%= @letters[7] %></div>
    <div class="letter"><%= @letters[8] %></div>
    <div class="letter"><%= @letters[9] %></div>
  </div>

  <form action="/score" method="POST">
    <label for="longest-word">What is the longest word you can find?</label>
    <input type="text" id="longest-word">
    <input type="submit" value="Play" id="play">
  </form>
</div>
